In [23]:
import pandas as pd
import html5lib
url='https://www.aiub.edu/faculties/fst/ug-course-catalog'
url2='https://en.wikipedia.org/wiki/List_of_timelines#Environment'
html1='core.html'
html2='elective.html'

In [24]:
list_of_df=pd.read_html(html1)

In [29]:
list_of_df[3]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,MAT1102,DIFFERENTIAL CALCULUS & CO-ORDINATE GEOMETRY,3 0 0 0 0,NaN
1,PHY1101,PHYSICS 1,3 0 0 0 0,NaN
2,PHY1102,PHYSICS 1 LAB,1 1 0 0 0,NaN
3,ENG1101,ENGLISH READING SKILLS & PUBLIC SPEAKING,3 0 0 1 0,NaN
4,CSC1102,INTRODUCTION TO PROGRAMMING,3 0 0 0 0,NaN
5,CSC1103,INTRODUCTION TO PROGRAMMING LAB,1 0 1 0 0,NaN
6,CSC1101,INTRODUCTION TO COMPUTER STUDIES,1 0 1 0 0,NaN

In [30]:
list_of_df[4]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC1204,DISCRETE MATHEMATICS,3 0 0 0 0,MAT1102 CSC1102
1,MAT1205,INTEGRAL CALCULUS & ORDINARY DIFFERENTIAL EQUA...,3 0 0 0 0,MAT1102
2,CSC1205,OBJECT ORIENTED PROGRAMMING 1,3 0 1 0 0,CSC1102 CSC1103
3,PHY1203,PHYSICS 2,3 0 0 0 0,PHY1101
4,PHY1204,PHYSICS 2 LAB,1 1 0 0 0,PHY1102
5,ENG1202,ENGLISH WRITING SKILLS & COMMUNICATION,3 0 0 1 0,ENG1101
6,COE2101,INTRODUCTION TO ELECTRICAL CIRCUITS,3 0 0 0 0,PHY1101
7,COE2102,INTRODUCTION TO ELECTRICAL CIRCUITS LAB,1 1 0 0 0,PHY1102

In [32]:
list_of_df[5]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CHEM1101,CHEMISTRY,3 1 0 0 0,PHY1203
1,MAT2101,"COMPLEX VARIABLE,LAPLACE & Z-TRANSFORMATION",3 0 0 0 0,MAT1205
2,CSC2108,INTRODUCTION TO DATABASE,3 0 1 0 0,CSC1205
3,EEE2104,ELECTRONIC DEVICES LAB,1 1 0 0 0,COE2102
4,BBA1102,PRINCIPLES OF ACCOUNTING,3 0 0 0 0,MAT1205
5,EEE2103,ELECTRONIC DEVICES,3 0 0 0 0,COE2101
6,CSC2106,DATA STRUCTURE,3 0 0 0 0,CSC1204 CSC1205
7,CSC2107,DATA STRUCTURE LAB,1 0 1 0 0,CSC1204 CSC1205
8,BAE2101,COMPUTER AIDED DESIGN & DRAFTING,1 0 1 0 0,NaN

In [33]:
list_of_df[6]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC2211,ALGORITHMS,3 0 1 0 0,CSC2106 CSC2107
1,MAT2202,"MATRICES, VECTORS, FOURIER ANALYSIS",3 0 0 0 0,MAT2101
2,CSC2210,OBJECT ORIENTED PROGRAMMING 2,3 0 1 0 0,CSC2108 CSC1205
3,CSC2209,OBJECT ORIENTED ANALYSIS AND DESIGN,3 0 0 0 0,CSC2108
4,BAS2101,BANGLADESH STUDIES,3 0 0 0 0,CSC1101
5,EEE3101,DIGITAL LOGIC AND CIRCUITS,3 0 0 0 0,EEE2103
6,EEE3102,DIGITAL LOGIC AND CIRCUITS LAB,1 1 0 0 0,EEE2104
7,MAT3103,COMPUTATIONAL STATISTICS AND PROBABILITY,3 0 0 0 0,MAT2101

In [34]:
list_of_df[7]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC3113,THEORY OF COMPUTATION,3 0 0 0 0,CSC2211
1,ECO3150,PRINCIPLES OF ECONOMICS,2 0 0 0 0,MAT3103
2,ENG2103,BUSINESS COMMUNICATION,3 0 0 0 0,BAS2101
3,MAT3101,NUMERICAL METHODS FOR SCIENCE AND ENGINEERING,3 0 0 0 0,MAT2202
4,COE3103,DATA COMMUNICATION,3 1 0 0 0,EEE3101 EEE3102
5,COE3104,MICROPROCESSOR AND EMBEDDED SYSTEM,3 1 0 0 0,EEE3101 EEE3102
6,CSC3112,SOFTWARE ENGINEERING,3 0 1 0 0,CSC2209 CSC2210

In [35]:
list_of_df[8]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC3217,ARTIFICIAL INTELLIGENCE AND EXPERT SYS.,3 0 1 0 0,CSC2211 MAT3103
1,COE3206,COMPUTER NETWORKS,3 1 0 0 0,COE3103
2,COE3205,COMPUTER ORGANIZATION AND ARCHITECTURE,3 0 1 0 0,COE3104
3,CSC3214,OPERATING SYSTEM,3 0 1 0 0,CSC2211 COE3104
4,CSC3215,WEB TECHNOLOGIES,3 0 1 0 0,CSC3112
5,EEE2216,ENGINEERING ETHICS,2 0 0 0 0,CSC3112 COE3104
6,CSC3216,COMPILER DESIGN,3 0 1 0 0,CSC3113

In [36]:
list_of_df[9]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC4118,COMPUTER GRAPHICS,3 0 1 0 0,CSC2211 MAT2202
1,CSC****,COS ELECTIVE 1,3 0 0 0 0,NaN
2,MGT3202,ENGINEERING MANAGEMENT,3 0 0 0 0,EEE2216
3,CSC4197,RESEARCH METHODOLOGY,3 0 0 0 0,NaN
4,CSC####,CSE MAJOR 1,3 0 0 0 0,NaN
5,CSC####,CSE MAJOR 2,3 0 0 0 0,NaN
6,CSC####,CSE MAJOR 3,3 0 0 0 0,NaN

In [37]:
len(list_of_df)

11

In [38]:
list_of_df[10]

      Code              Name Credit(Lec-Sci-Comp-Lan-Stu) Pre-Requisite
0  CSC4298  THESIS / PROJECT                    3 0 0 0 0       CSC4197
1  CSC****    COS ELECTIVE 2                    3 0 0 0 0           NaN
2  CSC4299        INTERNSHIP                    3 0 0 0 0           NaN

In [ ]:
#Core range found 3 to 10 from list. total len 11     list_of_df[10]    maximum

In [40]:
#elective
list_of_df2=pd.read_html(html2)
len(list_of_df2)

4

In [44]:
list_of_df2[3:4]

[       Code                                               Name  \
 0   CSC4181                 ADVANCE DATABASE MANAGEMENT SYSTEM
 1   BAE1201                             BASIC MECHANICAL ENGG.
 2   CSC4125                       COMPUTER SCIENCE MATHEMATICS
 3   MIS3101                      MANAGEMENT INFORMATION SYSTEM
 4   EEE2213                            SIGNALS & LINEAR SYSTEM
 5   CSC4126                                 BASIC GRAPH THEORY
 6   COE4128                              DIGITAL SYSTEM DESIGN
 7   COE4231                                   IMAGE PROCESSING
 8   COE4129                                 MULTIMEDIA SYSTEMS
 9   COE4230                              SIMULATION & MODELING
 10  MIS4011                       ENTERPRISE RESOURCE PLANNING
 11  CSC4285                     DATA WAREHOUSE AND DATA MINING
 12  CSC4233                        NATURAL LANGUAGE PROCESSING
 13  CSC4270            SOFTWARE DEVELOPMENT PROJECT MANAGEMENT
 14  CSC4182                         HUMAN COMPUTER INTERACTION
 15  COE4126                         ADVANCED COMPUTER NETWORKS
 16  CSC4160                   SOFTWARE REQUIREMENT ENGINEERING
 17  COE4234            COMPUTER VISION AND PATTERN RECOGNITION
 18  CSC4128                                 LINEAR PROGRAMMING
 19  COE4232                                   NETWORK SECURITY
 20  CSC4271                       SOFTWARE QUALITY AND TESTING
 21  COE4125                          ADVANCED OPERATING SYSTEM
 22  EEE4233  DIGITAL DESIGN WITH SYSTEM [ VERILOG,VHDL & FP...
 23  COE4235                               ROBOTICS ENGINEERING
 24  MIS4014         BUSINESS INTELLIGENCE AND DECISION SUPPORT
 25  EEE4209                     TELECOMMUNICATIONS ENGINEERING
 26  CSC4162                              PROGRAMMING IN PYTHON
 27  CSC4163                     ADVANCED PROGRAMMING WITH JAVA
 28  CSC4164                     ADVANCED PROGRAMMING WITH .NET
 29  CSC4161             ADVANCED PROGRAMMING IN WEB TECHNOLOGY
 30  CSC4127                      ADVANCED ALGORITHM TECHNIQUES
 31  COE4127         NETWORK RESOURCE MANAGEMENT & ORGANIZATION
 32  CSC4180                       INTRODUCTION TO DATA SCIENCE
 33  CSC4183                  CYBER LAWS & INFORMATION SECURITY
 34  CSC4230                                     BIOINFORMATICS
 35  CSC4231                                 PARALLEL COMPUTING
 36  CSC4232                                   MACHINE LEARNING
 37  COE4233                           WIRELESS SENSOR NETWORKS
 38  EEE4241   INDUSTRIAL ELECTRONICS, DRIVES & INSTRUMENTATION
 39  CSC4272                     MOBILE APPLICATION DEVELOPMENT
 40  CSC4273          SOFTWARE ARCHITECTURE AND DESIGN PATTERNS
 41  MIS4007                                  DIGITAL MARKETING
 42  MIS4012                E-COMMERCE, E-GOVERNANCE & E-SERIES
 43  EEE3103                          DIGITAL SIGNAL PROCESSING
 44  EEE4217                                VLSI CIRCUIT DESIGN

    Credit(Lec-Sci-Comp-Lan-Stu)     Pre-Requisite
 0                     3 0 1 0 0           CSC2108
 1                     3 0 0 0 0           PHY1203
 2                     3 0 0 0 0  CSC2211  MAT3101
 3                     3 0 0 0 0           CSC3112
 4                     3 0 0 0 0           MAT2202
 5                     3 0 0 0 0           CSC2211
 6                     3 0 0 0 0           COE3205
 7                     3 0 0 0 0           CSC4118
 8                     3 0 0 0 0           CSC3215
 9                     3 0 1 0 0           CSC3217
 10                    3 0 0 0 0  CSC3112  MIS3101
 11                    3 0 0 0 0           CSC4180
 12                    3 0 0 0 0  CSC3217  CSC4162
 13                    3 0 0 0 0           CSC4160
 14                    3 0 0 0 0  CSC3217  CSC3215
 15                    3 0 1 0 0           COE3206
 16                    3 0 0 0 0           CSC3112
 17                    3 0 0 0 0  CSC4118  CSC3217
 18                    3 0 1 0 0  CSC3217  MAT3103
 19                    3 0 0 0 0           COE3206
 20                    3 0 0 0 0           CSC4160
 21                    3 0 1 0 0           CSC3214
 22                    3 1 0 0 0           EEE4217
 23                    3 1 0 0 0           CSC3217
 24                    3 0 0 0 0           MIS4011
 25                    3 1 0 0 0           COE3103
 26                    3 0 1 0 0           CSC3215
 27                    3 0 1 0 0           CSC3215
 28                    3 0 1 0 0           CSC3215
 29                    3 0 1 0 0           CSC3215
 30                    3 0 1 0 0           CSC3217
 31                    3 0 0 0 0  COE3206  COE3103
 32                    3 0 1 0 0           CSC3217
 33                    3 0 0 0 0           CSC3215
 34                    3 0 0 0 0           CSC3217
 35                    3 0 0 0 0  CSC2211  CSC3217
 36                    3 0 0 0 0           CSC3217
 37                    3 0 1 0 0  COE3206  COE3103
 38                    3 0 1 0 0           EEE3101
 39                    3 0 1 0 0           CSC3215
 40                    3 0 0 0 0           CSC4160
 41                    3 0 0 0 0  MIS3101  CSC3215
 42                    3 0 0 0 0           CSC3215
 43                    3 0 1 0 0           EEE2213
 44                    3 0 1 0 0           EEE4241  ]

In [45]:
for list in list_of_df2[3:4]:
    print(list)

       Code                                               Name  \
0   CSC4181                 ADVANCE DATABASE MANAGEMENT SYSTEM
1   BAE1201                             BASIC MECHANICAL ENGG.
2   CSC4125                       COMPUTER SCIENCE MATHEMATICS
3   MIS3101                      MANAGEMENT INFORMATION SYSTEM
4   EEE2213                            SIGNALS & LINEAR SYSTEM
5   CSC4126                                 BASIC GRAPH THEORY
6   COE4128                              DIGITAL SYSTEM DESIGN
7   COE4231                                   IMAGE PROCESSING
8   COE4129                                 MULTIMEDIA SYSTEMS
9   COE4230                              SIMULATION & MODELING
10  MIS4011                       ENTERPRISE RESOURCE PLANNING
11  CSC4285                     DATA WAREHOUSE AND DATA MINING
12  CSC4233                        NATURAL LANGUAGE PROCESSING
13  CSC4270            SOFTWARE DEVELOPMENT PROJECT MANAGEMENT
14  CSC4182                         HUMAN COMPUTER INTERACTION
15  COE4126                         ADVANCED COMPUTER NETWORKS
16  CSC4160                   SOFTWARE REQUIREMENT ENGINEERING
17  COE4234            COMPUTER VISION AND PATTERN RECOGNITION
18  CSC4128                                 LINEAR PROGRAMMING
19  COE4232                                   NETWORK SECURITY
20  CSC4271                       SOFTWARE QUALITY AND TESTING
21  COE4125                          ADVANCED OPERATING SYSTEM
22  EEE4233  DIGITAL DESIGN WITH SYSTEM [ VERILOG,VHDL & FP...
23  COE4235                               ROBOTICS ENGINEERING
24  MIS4014         BUSINESS INTELLIGENCE AND DECISION SUPPORT
25  EEE4209                     TELECOMMUNICATIONS ENGINEERING
26  CSC4162                              PROGRAMMING IN PYTHON
27  CSC4163                     ADVANCED PROGRAMMING WITH JAVA
28  CSC4164                     ADVANCED PROGRAMMING WITH .NET
29  CSC4161             ADVANCED PROGRAMMING IN WEB TECHNOLOGY
30  CSC4127                      ADVANCED ALGORITHM TECHNIQUES
31  COE4127         NETWORK RESOURCE MANAGEMENT & ORGANIZATION
32  CSC4180                       INTRODUCTION TO DATA SCIENCE
33  CSC4183                  CYBER LAWS & INFORMATION SECURITY
34  CSC4230                                     BIOINFORMATICS
35  CSC4231                                 PARALLEL COMPUTING
36  CSC4232                                   MACHINE LEARNING
37  COE4233                           WIRELESS SENSOR NETWORKS
38  EEE4241   INDUSTRIAL ELECTRONICS, DRIVES & INSTRUMENTATION
39  CSC4272                     MOBILE APPLICATION DEVELOPMENT
40  CSC4273          SOFTWARE ARCHITECTURE AND DESIGN PATTERNS
41  MIS4007                                  DIGITAL MARKETING
42  MIS4012                E-COMMERCE, E-GOVERNANCE & E-SERIES
43  EEE3103                          DIGITAL SIGNAL PROCESSING
44  EEE4217                                VLSI CIRCUIT DESIGN

   Credit(Lec-Sci-Comp-Lan-Stu)     Pre-Requisite
0                     3 0 1 0 0           CSC2108
1                     3 0 0 0 0           PHY1203
2                     3 0 0 0 0  CSC2211  MAT3101
3                     3 0 0 0 0           CSC3112
4                     3 0 0 0 0           MAT2202
5                     3 0 0 0 0           CSC2211
6                     3 0 0 0 0           COE3205
7                     3 0 0 0 0           CSC4118
8                     3 0 0 0 0           CSC3215
9                     3 0 1 0 0           CSC3217
10                    3 0 0 0 0  CSC3112  MIS3101
11                    3 0 0 0 0           CSC4180
12                    3 0 0 0 0  CSC3217  CSC4162
13                    3 0 0 0 0           CSC4160
14                    3 0 0 0 0  CSC3217  CSC3215
15                    3 0 1 0 0           COE3206
16                    3 0 0 0 0           CSC3112
17                    3 0 0 0 0  CSC4118  CSC3217
18                    3 0 1 0 0  CSC3217  MAT3103
19                    3 0 0 0 0           COE3206
20                    3 0 0 0 0           CSC4160
21                    3 0 1 0 0           CSC3214
22                    3 1 0 0 0           EEE4217
23                    3 1 0 0 0           CSC3217
24                    3 0 0 0 0           MIS4011
25                    3 1 0 0 0           COE3103
26                    3 0 1 0 0           CSC3215
27                    3 0 1 0 0           CSC3215
28                    3 0 1 0 0           CSC3215
29                    3 0 1 0 0           CSC3215
30                    3 0 1 0 0           CSC3217
31                    3 0 0 0 0  COE3206  COE3103
32                    3 0 1 0 0           CSC3217
33                    3 0 0 0 0           CSC3215
34                    3 0 0 0 0           CSC3217
35                    3 0 0 0 0  CSC2211  CSC3217
36                    3 0 0 0 0           CSC3217
37                    3 0 1 0 0  COE3206  COE3103
38                    3 0 1 0 0           EEE3101
39                    3 0 1 0 0           CSC3215
40                    3 0 0 0 0           CSC4160
41                    3 0 0 0 0  MIS3101  CSC3215
42                    3 0 0 0 0           CSC3215
43                    3 0 1 0 0           EEE2213
44                    3 0 1 0 0           EEE4241

In [46]:
list_of_df2[3]

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,CSC4181,ADVANCE DATABASE MANAGEMENT SYSTEM,3 0 1 0 0,CSC2108
1,BAE1201,BASIC MECHANICAL ENGG.,3 0 0 0 0,PHY1203
2,CSC4125,COMPUTER SCIENCE MATHEMATICS,3 0 0 0 0,CSC2211 MAT3101
3,MIS3101,MANAGEMENT INFORMATION SYSTEM,3 0 0 0 0,CSC3112
4,EEE2213,SIGNALS & LINEAR SYSTEM,3 0 0 0 0,MAT2202
5,CSC4126,BASIC GRAPH THEORY,3 0 0 0 0,CSC2211
6,COE4128,DIGITAL SYSTEM DESIGN,3 0 0 0 0,COE3205
7,COE4231,IMAGE PROCESSING,3 0 0 0 0,CSC4118
8,COE4129,MULTIMEDIA SYSTEMS,3 0 0 0 0,CSC3215
9,COE4230,SIMULATION & MODELING,3 0 1 0 0,CSC3217
10,MIS4011,ENTERPRISE RESOURCE PLANNING,3 0 0 0 0,CSC3112 MIS3101
11,CSC4285,DATA WAREHOUSE AND DATA MINING,3 0 0 0 0,CSC4180
12,CSC4233,NATURAL LANGUAGE PROCESSING,3 0 0 0 0,CSC3217 CSC4162
13,CSC4270,SOFTWARE DEVELOPMENT PROJECT MANAGEMENT,3 0 0 0 0,CSC4160
14,CSC4182,HUMAN COMPUTER INTERACTION,3 0 0 0 0,CSC3217 CSC3215
15,COE4126,ADVANCED COMPUTER NETWORKS,3 0 1 0 0,COE3206
16,CSC4160,SOFTWARE REQUIREMENT ENGINEERING,3 0 0 0 0,CSC3112
17,COE4234,COMPUTER VISION AND PATTERN RECOGNITION,3 0 0 0 0,CSC4118 CSC3217
18,CSC4128,LINEAR PROGRAMMING,3 0 1 0 0,CSC3217 MAT3103
19,COE4232,NETWORK SECURITY,3 0 0 0 0,COE3206
20,CSC4271,SOFTWARE QUALITY AND TESTING,3 0 0 0 0,CSC4160
21,COE4125,ADVANCED OPERATING SYSTEM,3 0 1 0 0,CSC3214
22,EEE4233,"DIGITAL DESIGN WITH SYSTEM [ VERILOG,VHDL & FP...",3 1 0 0 0,EEE4217
23,COE4235,ROBOTICS ENGINEERING,3 1 0 0 0,CSC3217
24,MIS4014,BUSINESS INTELLIGENCE AND DECISION SUPPORT,3 0 0 0 0,MIS4011
25,EEE4209,TELECOMMUNICATIONS ENGINEERING,3 1 0 0 0,COE3103
26,CSC4162,PROGRAMMING IN PYTHON,3 0 1 0 0,CSC3215
27,CSC4163,ADVANCED PROGRAMMING WITH JAVA,3 0 1 0 0,CSC3215
28,CSC4164,ADVANCED PROGRAMMING WITH .NET,3 0 1 0 0,CSC3215
29,CSC4161,ADVANCED PROGRAMMING IN WEB TECHNOLOGY,3 0 1 0 0,CSC3215
30,CSC4127,ADVANCED ALGORITHM TECHNIQUES,3 0 1 0 0,CSC3217
31,COE4127,NETWORK RESOURCE MANAGEMENT & ORGANIZATION,3 0 0 0 0,COE3206 COE3103
32,CSC4180,INTRODUCTION TO DATA SCIENCE,3 0 1 0 0,CSC3217
33,CSC4183,CYBER LAWS & INFORMATION SECURITY,3 0 0 0 0,CSC3215
34,CSC4230,BIOINFORMATICS,3 0 0 0 0,CSC3217
35,CSC4231,PARALLEL COMPUTING,3 0 0 0 0,CSC2211 CSC3217
36,CSC4232,MACHINE LEARNING,3 0 0 0 0,CSC3217
37,COE4233,WIRELESS SENSOR NETWORKS,3 0 1 0 0,COE3206 COE3103
38,EEE4241,"INDUSTRIAL ELECTRONICS, DRIVES & INSTRUMENTATION",3 0 1 0 0,EEE3101
39,CSC4272,MOBILE APPLICATION DEVELOPMENT,3 0 1 0 0,CSC3215
40,CSC4273,SOFTWARE ARCHITECTURE AND DESIGN PATTERNS,3 0 0 0 0,CSC4160
41,MIS4007,DIGITAL MARKETING,3 0 0 0 0,MIS3101 CSC3215
42,MIS4012,"E-COMMERCE, E-GOVERNANCE & E-SERIES",3 0 0 0 0,CSC3215
43,EEE3103,DIGITAL SIGNAL PROCESSING,3 0 1 0 0,EEE2213
44,EEE4217,VLSI CIRCUIT DESIGN,3 0 1 0 0,EEE4241

In [ ]:
#work left data cleaning ,
# processing,
# adding those 2 data frams to one final dataframes .csv file
#then application work

In [50]:
#experiment on dataframs
df_all_rows = pd.concat([list_of_df[3],list_of_df[4],list_of_df[5],list_of_df[6],list_of_df[7],list_of_df[8],list_of_df[9],list_of_df[10], list_of_df2[3]], ignore_index=True)
df_all_rows

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,MAT1102,DIFFERENTIAL CALCULUS & CO-ORDINATE GEOMETRY,3 0 0 0 0,NaN
1,PHY1101,PHYSICS 1,3 0 0 0 0,NaN
2,PHY1102,PHYSICS 1 LAB,1 1 0 0 0,NaN
3,ENG1101,ENGLISH READING SKILLS & PUBLIC SPEAKING,3 0 0 1 0,NaN
4,CSC1102,INTRODUCTION TO PROGRAMMING,3 0 0 0 0,NaN
...,...,...,...,...
96,CSC4273,SOFTWARE ARCHITECTURE AND DESIGN PATTERNS,3 0 0 0 0,CSC4160
97,MIS4007,DIGITAL MARKETING,3 0 0 0 0,MIS3101 CSC3215
98,MIS4012,"E-COMMERCE, E-GOVERNANCE & E-SERIES",3 0 0 0 0,CSC3215
99,EEE3103,DIGITAL SIGNAL PROCESSING,3 0 1 0 0,EEE2213
100,EEE4217,VLSI CIRCUIT DESIGN,3 0 1 0 0,EEE4241

In [51]:
df_all_rows.head(30)

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,MAT1102,DIFFERENTIAL CALCULUS & CO-ORDINATE GEOMETRY,3 0 0 0 0,NaN
1,PHY1101,PHYSICS 1,3 0 0 0 0,NaN
2,PHY1102,PHYSICS 1 LAB,1 1 0 0 0,NaN
3,ENG1101,ENGLISH READING SKILLS & PUBLIC SPEAKING,3 0 0 1 0,NaN
4,CSC1102,INTRODUCTION TO PROGRAMMING,3 0 0 0 0,NaN
5,CSC1103,INTRODUCTION TO PROGRAMMING LAB,1 0 1 0 0,NaN
6,CSC1101,INTRODUCTION TO COMPUTER STUDIES,1 0 1 0 0,NaN
7,CSC1204,DISCRETE MATHEMATICS,3 0 0 0 0,MAT1102 CSC1102
8,MAT1205,INTEGRAL CALCULUS & ORDINARY DIFFERENTIAL EQUA...,3 0 0 0 0,MAT1102
9,CSC1205,OBJECT ORIENTED PROGRAMMING 1,3 0 1 0 0,CSC1102 CSC1103
10,PHY1203,PHYSICS 2,3 0 0 0 0,PHY1101
11,PHY1204,PHYSICS 2 LAB,1 1 0 0 0,PHY1102
12,ENG1202,ENGLISH WRITING SKILLS & COMMUNICATION,3 0 0 1 0,ENG1101
13,COE2101,INTRODUCTION TO ELECTRICAL CIRCUITS,3 0 0 0 0,PHY1101
14,COE2102,INTRODUCTION TO ELECTRICAL CIRCUITS LAB,1 1 0 0 0,PHY1102
15,CHEM1101,CHEMISTRY,3 1 0 0 0,PHY1203
16,MAT2101,"COMPLEX VARIABLE,LAPLACE & Z-TRANSFORMATION",3 0 0 0 0,MAT1205
17,CSC2108,INTRODUCTION TO DATABASE,3 0 1 0 0,CSC1205
18,EEE2104,ELECTRONIC DEVICES LAB,1 1 0 0 0,COE2102
19,BBA1102,PRINCIPLES OF ACCOUNTING,3 0 0 0 0,MAT1205
20,EEE2103,ELECTRONIC DEVICES,3 0 0 0 0,COE2101
21,CSC2106,DATA STRUCTURE,3 0 0 0 0,CSC1204 CSC1205
22,CSC2107,DATA STRUCTURE LAB,1 0 1 0 0,CSC1204 CSC1205
23,BAE2101,COMPUTER AIDED DESIGN & DRAFTING,1 0 1 0 0,NaN
24,CSC2211,ALGORITHMS,3 0 1 0 0,CSC2106 CSC2107
25,MAT2202,"MATRICES, VECTORS, FOURIER ANALYSIS",3 0 0 0 0,MAT2101
26,CSC2210,OBJECT ORIENTED PROGRAMMING 2,3 0 1 0 0,CSC2108 CSC1205
27,CSC2209,OBJECT ORIENTED ANALYSIS AND DESIGN,3 0 0 0 0,CSC2108
28,BAS2101,BANGLADESH STUDIES,3 0 0 0 0,CSC1101
29,EEE3101,DIGITAL LOGIC AND CIRCUITS,3 0 0 0 0,EEE2103

In [59]:
df_all_rows.tail(105)

,Code,Name,Credit(Lec-Sci-Comp-Lan-Stu),Pre-Requisite
0,MAT1102,DIFFERENTIAL CALCULUS & CO-ORDINATE GEOMETRY,3 0 0 0 0,NaN
1,PHY1101,PHYSICS 1,3 0 0 0 0,NaN
2,PHY1102,PHYSICS 1 LAB,1 1 0 0 0,NaN
3,ENG1101,ENGLISH READING SKILLS & PUBLIC SPEAKING,3 0 0 1 0,NaN
4,CSC1102,INTRODUCTION TO PROGRAMMING,3 0 0 0 0,NaN
...,...,...,...,...
96,CSC4273,SOFTWARE ARCHITECTURE AND DESIGN PATTERNS,3 0 0 0 0,CSC4160
97,MIS4007,DIGITAL MARKETING,3 0 0 0 0,MIS3101 CSC3215
98,MIS4012,"E-COMMERCE, E-GOVERNANCE & E-SERIES",3 0 0 0 0,CSC3215
99,EEE3103,DIGITAL SIGNAL PROCESSING,3 0 1 0 0,EEE2213
100,EEE4217,VLSI CIRCUIT DESIGN,3 0 1 0 0,EEE4241

In [53]:
len(df_all_rows)

101

In [55]:
total=0
for size in list_of_df[3:11]:
    total+=len(size)

In [56]:
total

56

In [57]:
for size in list_of_df2[3]:
    total+=len(size)

In [58]:
total

105

In [60]:
final=df_all_rows
df_all_rows.to_csv('course_data.csv')

In [ ]:
#work left: data cleaning , preprocessing & attachment.